<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Grist.io">
    <link rel="shortcut icon" href="img/i.png">
    <title>Grist.io</title>
    <link rel="stylesheet" href="css/s.min.css">
    <link rel="stylesheet" href="css/pd.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
</head>

<body ng-controller="AppCtrl" class="ng-cloak">
<nav>
        <div class="nav" ng-class="{open: n, in: n}">
            <a class="nav-heading" href ng-click="n = !n" title="Grist.io"><img src="img/i.png" class="imgl"/>&nbsp; Grist.io</a>
            <div ng-show="n">
            <ul>
                <li class="nav-selected"><a href="sfpd.html" title="SFPD">SFPD</a>
                </li>
                <li><a href="/" title="Home">Home</a>
                </li>
            </ul>
             <a class="nav-heading drop" href="https://github.com/ajgrist" title="Grist.io"><i class="fa fa-github fa-lg"></i></a>
                
        </div></div>
</nav>
    <div class="mw pad">
    
            <div class="grid" ng-hide="cselects">
                 <div class="g1 ctr">
                    <div class="pad">
                        <h1>Crime in San Fran</h1>
                        <h3>A client-side, big data experiment</h3>
                        <p>Yet another crime data app, made possible by the SFPD and their
                            <a href="https://data.sfgov.org" target="_blank">open data</a>
                        </p>
                        <p>Crunching over <span class="lbl">{{data.length*7 | number}}</span> data points in a browser is never going to be a great idea, but with <a href="https://data.sfgov.org" target="_blank">AngularJS</a> and a <a href="https://data.sfgov.org/resource/tmnf-yvry" target="_blank">minified dataset</a>, it's worth a go.</p>
                    </div>
                </div>
                  </div>
                
                 <div class="grid" ng-show="cselects">
                <div class="g1">
                    <div class="pad ctr">
                        <h2>{{cselects.0.c}}</h2>
                        <p>There were {{cselects.0.t | number}} incidents of {{cselects.0.c | lowercase}} from the {{data.length | number}} incidents reported between December 1st and March 31st. This ranks {{cselects.0.c | lowercase}} {{cselects.0.r}} out of 35 in the most frequently reported categories.</p>
                        <small>Percentage of occurrences by day / hour<br /><span class="fa-stack"><i class="fa fa-square fa-stack-1x b1"></i><i class="fa fa-square-o fa-stack-1x b2"></i></span> {{cselects.0.c}}<br /><span class="fa-stack"><i class="fa fa-square fa-stack-1x gr1"></i><i class="fa fa-square-o fa-stack-1x gr2"></i></span> All incidents</small>                    
                    </div>
                </div>
                <div class="g1 gs1-2 ctr">
                    <div class="edge">
                        <canvas radarchart options="rOptions" data="rChart[cselects.0.n]" ></canvas>
                    </div>
                </div>
                <div class="g1 gs1-2 ctr">
                    <canvas linechart options="lOptions" data="lChart[cselects.0.n]" ></canvas>
                </div>
                
                 <div class="g1"> <small class="fade">Note: charts are based on all occurances of an incident by category, so the date filter will not apply to charts.<br />Beware of small sample sizes when comparing a category with few incidents to the whole dataset.</small></div>
                
            </div>
        

        <div class="grid">
            <div class="g1">
                <div class="edge lgray">
                    <div class="ctr">
                            <label>Crime:</label>
                            <select ng-model="cselect.c" ng-change="[setter(),fl=10]">
                                <option ng-repeat="cat in cats">{{cat.c}}</option>
                            </select>
                    </div>
                </div>
            </div>

                <div class="g1 gs1-3" ng-show="sd">
                <div class="edge lgray"><div class="ctr">
                    <a href="" class="pull-left" ng-click="sd =!sd">
                       <i ng-show="sd" class="fa fa-calendar-o"></i>
                    </a>
                    &nbsp;<a href ng-show="date.d" type="submit" ng-click="clearFilter2()" class="pull-right">clear date</a></div>
                    <div pickadate="" ng-model="date.d" min-date="minDate" max-date="maxDate"></div>
                </div>
            </div>
            
            
<div ng-class="{'g1 gs2-3': sd, 'g1': !sd}">
    

            <div ng-show="date.d + cselect.c">
    
                
             
    

                <p class="ctr">{{(data | filter:date.d | filter:{c:cselects.0.i}).length}} incidents
                    <a href="" class="pull-left" ng-click="sd =!sd">
                       <i ng-show="!sd" class="fa fa-calendar"></i>
                       
                    </a>
                    
                    <small class="pull-right">Show:
                    <a href="" ng-click="fl=10">10 </a>
                    <a href="" ng-click="fl=25"> 25 </a>
                    <a href="" ng-click="fl=50"> 50 </a> 
                    <a href="" ng-click="fl=cselects.0.t"> All</a>
                    </small>
                </p>
                <div class="fixed">
                    <table class="pure-table pure-table-horizontal ctr wide">
                        <tbody>
                            <tr class="lgray">
                                <td>
                                    <small class="fade">Time</small>
                                </td>
                                <td>
                                    <small class="fade">Outcome</small>
                                </td>
                                <td></td>
                            </tr>



                            <tr ng-repeat="d in data | filter:date.d | filter:{c:cselects.0.i} | orderBy: ['-t'] | limitTo:fl">
                                <td>
                                    <small class="fade">
                                        {{d.t*1000 | date:'HH:mm dd MMM'}}</small>
                                </td>
                                <td>
                                    <small class="fade" ng-include=d.r></small>
                                </td>
                                <td>
                                    <small>
                                        <a ng-href="https://www.google.com/maps?ll=37.{{d.y}},-122.{{d.x}}&t=h&z=19" target="_new">map
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </small>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
            </div>

            
        </div>
    </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1-beta.2/Chart.min.js"></script>
<script type="text/javascript" src="js/app.min.js"></script>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-49279635-1', 'grist.io');ga('require', 'displayfeatures');ga('require', 'linkid', 'linkid.js');ga('send', 'pageview');</script>
<script type="text/ng-template" id="a">ARREST, BOOKED</script>
<script type="text/ng-template" id="b">ARREST, CITED</script>
<script type="text/ng-template" id="c">CLEARED-CONTACT JUVENILE FOR MORE INFO</script>
<script type="text/ng-template" id="d">COMPLAINANT REFUSES TO PROSECUTE</script>
<script type="text/ng-template" id="e">DISTRICT ATTORNEY REFUSES TO PROSECUTE</script>
<script type="text/ng-template" id="f">EXCEPTIONAL CLEARANCE</script>
<script type="text/ng-template" id="g">JUVENILE ADMONISHED</script>
<script type="text/ng-template" id="h">JUVENILE BOOKED</script>
<script type="text/ng-template" id="i">JUVENILE CITED</script>
<script type="text/ng-template" id="j">JUVENILE DIVERTED</script>
<script type="text/ng-template" id="k">LOCATED</script>
<script type="text/ng-template" id="l">NONE</script>
<script type="text/ng-template" id="m">NOT PROSECUTED</script>
<script type="text/ng-template" id="n">PROSECUTED BY OUTSIDE AGENCY</script>
<script type="text/ng-template" id="o">PSYCHOPATHIC CASE</script>
<script type="text/ng-template" id="p">UNFOUNDED</script>

</html>
